kube-prometheus-stack:
  prometheusOperator:
    admissionWebhooks:
      enabled: false
      patch:
        enabled: false
  grafana:
    ingress:
      enabled: true
      ingressClassName: alb
      annotations:
        alb.ingress.kubernetes.io/scheme: internet-facing
        alb.ingress.kubernetes.io/target-type: ip
        alb.ingress.kubernetes.io/backend-protocol: HTTP
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
      hosts: [] 
      path: /

  prometheus:
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: "ebs-sc"
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 10Gi
