sonarqube:
  image:
    repository: sonarqube
    tag: 10.7.0-community

  community:
    enabled: true
  monitoringPasscode: "dungnhin" 

  startupProbe:
    initialDelaySeconds: 60
    periodSeconds: 10
    failureThreshold: 60 
  
  livenessProbe:
    initialDelaySeconds: 60
    periodSeconds: 30
  readinessProbe:
    initialDelaySeconds: 60
    periodSeconds: 30

  jvmOpts: "-Xms2G -Xmx2G"
  resources:
    requests:
      memory: "2Gi"
      cpu: "1000m"
    limits:
      memory: "4Gi"
      cpu: "2000m"

  ingress:
    enabled: true
    ingressClassName: "alb"
    annotations:
      alb.ingress.kubernetes.io/scheme: "internet-facing"
      alb.ingress.kubernetes.io/target-type: "ip"
      alb.ingress.kubernetes.io/backend-protocol: "HTTP"
      alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
      alb.ingress.kubernetes.io/healthcheck-path: "/api/system/status"
      alb.ingress.kubernetes.io/success-codes: "200"
    hosts:
      - name: ""
        path: /
        pathType: Prefix

  persistence:
    enabled: true
    storageClass: "ebs-sc"
    size: "10Gi"

  initSysctl:
    enabled: true

postgresql:
  enabled: true
  image:
    repository: "docker.io/bitnami/postgresql"
    tag: "15-debian-11"
  persistence:
    enabled: true
    storageClass: "ebs-sc"
    size: "10Gi"
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "1Gi"
      cpu: "500m"
